extends ../layout

block content
    h3= book.name

    div
        p Title: #{book.title}
        p Author: #{book.author}
        p Publisher: #{book.publisher}
        p Genre: #{book.genre}
        p Pages: #{book.pages}
        p Cover: #{book.cover}
        p Description: #{book.description}